:root {
    --bg: #fefefe;
    --panel-bg: #e6e6e6;
    --panel-bg-light: #f9f9f9;
    
    --btn-bg: #0070f3;
    --btn-bg-hover: #fefefe;
    --btn-bg-active: #fefefe;
    
    --btn-fg: #fefefe;
    --btn-fg-hover: var(--btn-bg);
    --btn-fg-active: var(--btn-bg);
    
    --btn-border: var(--btn-bg);
    --btn-border-hover: var(--btn-bg);
    --btn-border-active: var(--btn-bg);
    
    --btn-outline: transparent;
}

html[data-theme="dark"] {
    --bg: #202023;
    --panel-bg: #2b2b2d;
    --panel-bg-light: #3e3e3e;
    
    --btn-bg: #81E6D9;
    --btn-bg-hover: #4fd1c5;
    --btn-bg-active: #38b2ac;
    
    --btn-fg: #1a202c;
    --btn-fg-hover: var(--btn-fg);
    --btn-fg-active: var(--btn-fg);
    
    --btn-border: var(--btn-bg);
    --btn-border-hover: var(--btn-bg-hover);
    --btn-border-active: var(--btn-bg-active);
    
    --btn-outline: #356995;
}