:root {
    --text: #000;
    --link-fg: var(--btn-bg);
    
    --bg: rgb(240, 231, 219);
    --panel-bg: #e6e6e6;
    --panel-bg-light: #f9f9f9;
    
    --nav-bg-color: rgba(240, 231, 219, .25);
    
    --btn-bg: #319795;
    --btn-bg-hover: #2c7a7b;
    --btn-bg-active: #285e61;
    
    --btn-fg: #fff;
    --btn-fg-hover: var(--btn-fg);
    --btn-fg-active: var(--btn-fg);
    
    --btn-outline: #88b8df;
    
    // button-switch
    --btn-switch-bg: #805ad5;
    --btn-switch-bg-hover: #6b46c1;
    --btn-switch-bg-active: #553c9a;
    
    --btn-switch-fg: #fff;
    --btn-switch-fg-hover: var(--btn-switch-fg);
    --btn-switch-fg-active: var(--btn-switch-fg);
    
    --btn-switch-outline: #8abbe2;

    // button-menu
    --btn-menu-bg: #805ad5;
    --btn-menu-bg-hover: #6b46c1;
    --btn-menu-bg-active: #553c9a;
    
    --btn-menu-fg: #fff;
    --btn-menu-fg-hover: var(--btn-menu-fg);
    --btn-menu-fg-active: var(--btn-menu-fg);
    
    --btn-menu-border: var(--btn-menu-bg);
    --btn-menu-border-hover: var(--btn-menu-bg-hover);
    --btn-menu-border-active: var(--btn-menu-bg-active);
    
    --btn-menu-outline: #8abbe2;
    
    // Panel
    --secondary: rgba(255, 255, 255, 0.36);
    
    // Images
    --img-border: transparent;
    
    --title-fg: rgba(255, 255, 255, .92)
}

html[data-theme="dark"] {
    --text: rgba(255, 255, 255, 0.92);
    --link-fg: #ff63c3;
    
    --bg: #202023;
    --panel-bg: #2b2b2d;
    --panel-bg-light: #3e3e3e;
    
    --nav-bg-color: #20202380;
    
    --btn-bg: #81E6D9;
    --btn-bg-hover: #4fd1c5;
    --btn-bg-active: #38b2ac;
    
    --btn-fg: #1a202c;
    --btn-fg-hover: var(--btn-fg);
    --btn-fg-active: var(--btn-fg);
    
    --btn-border: var(--btn-bg);
    --btn-border-hover: var(--btn-bg-hover);
    --btn-border-active: var(--btn-bg-active);
    
    --btn-outline: #356995;
        
    // btn-switch
    --btn-switch-bg: #fbd38d;
    --btn-switch-bg-hover: #f6ad55;
    --btn-switch-bg-active: #ed8936;
    
    --btn-switch-fg: #1a202c;
    --btn-switch-fg-hover: var(--btn-switch-fg);
    --btn-switch-fg-active: var(--btn-switch-fg);
    
    --btn-switch-border: var(--btn-switch-bg);
    --btn-switch-border-hover: var(--btn-switch-bg-hover);
    --btn-switch-border-active: var(--btn-switch-bg-active);
    
    --btn-switch-outline: #356995;

    // button-menu
    --btn-menu-bg: transparent;
    --btn-menu-bg-hover: #313133;
    --btn-menu-bg-active: #434346;
    
    --btn-menu-fg: rgba(255, 255, 255, 0.92);
    --btn-menu-fg-hover: var(--btn-menu-fg);
    --btn-menu-fg-active: var(--btn-menu-fg);
    
    --btn-menu-border: rgba(255, 255, 255, 0.16);
    --btn-menu-border-hover: #525254;
    --btn-menu-border-active: #616163;
    
    --btn-menu-outline: #356995;

    // Panel
    --secondary: rgba(255, 255, 255, 0.08);
    
    // Images
    --img-border: rgba(255, 255, 255, 0.8);
}