@use 'colors';

.button {
    color: var(--btn-fg);
    background-color: var(--btn-bg);
    
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    padding: 8px 12px;
    font-size: 0.875rem;
    font-family: "Inter", "sans-serif";
    font-weight: 500;
    line-height: 1.2;
    
    outline: 0;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--btn-border);
    
    transition: all .225s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow, width;
}

.button:hover {
    color: var(--btn-fg-hover);
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
}

.button:active {
    color: var(--btn-fg-active);
    background-color: var(--btn-bg-active);
    border-color: var(--btn-border-active);
}

.button:focus {
    box-shadow: 0px 0px 0px 3px var(--btn-outline);
}

.btn-icon {
    margin-inline-start: .5rem;
}