@use 'colors';

.btn-switch {
    aspect-ratio: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    color: var(--btn-switch-fg);
    background-color: var(--btn-switch-bg);
    
    cursor: pointer;
    user-select: none;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;

    height: 2.5rem;
    min-width: 2.5rem;
    
    outline: 0;
    border: none;
    border-radius: .375rem;
    
    transition: all .225s ease-in-out;
    transition-property: color, background-color, box-shadow;
}

.btn-switch:hover {
    color: var(--btn-switch-fg-hover);
    background-color: var(--btn-switch-bg-hover);
}

.btn-switch:active {
    color: var(--btn-switch-fg-active);
    background-color: var(--btn-switch-bg-active);
}

.btn-switch:focus {
    box-shadow: 0px 0px 0px 3px var(--ring-color);
}