@use 'colors';

.secondary {
    background-color: var(--secondary);
    border-radius: .5rem;
    
    padding: .75rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    color: var(--text);
    text-indent: 1em;
    text-align: justify;
    word-wrap: break-word;
    
    transition: all .3s ease-in-out;
    transition-property: color, background-color;
}

.desc {
    text-indent: 0;
    text-align: left;
}

.title {
    font-weight: bold;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c';
    letter-spacing: -0.05em;
    overflow-wrap: break-word;
    line-height: 20px;
    user-select: none;
    text-align: left;
    text-indent: 0;
}

.title-link {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}

.title-span {
    font-weight: bold;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    height: 30px;
    line-height: 20px;
    padding: 10px;
}