.secondary {
    background-color: var(--secondary);
    border-radius: .5rem;
    
    padding: .75rem;
    margin-bottom: 1.5rem;
    text-align: center;
    word-wrap: break-word;
    
    transition: all .3s ease-in-out;
    transition-property: background-color;
}

.desc {
    text-indent: 1em;
    text-align: justify;
}